<!doctype html>
<html>
<head>
    <link rel="shortcut icon" href="/static/images/ico_04_1.jpg" type="image/x-icon">
<meta charset="utf-8">
<title>{% block titel %}魏昊晅个人博客{% endblock %}</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="/static/css/base.css" rel="stylesheet">
<link href="/static/css/index.css" rel="stylesheet">
<script type="text/javascript" src="/static/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/sliders.js"></script>
<style type="text/css">
        .xianshi{
            display: block;
        }
    </style>
    <style>
        .couplet_ad
        /* 底部固定*/{position:fixed;bottom:auto; top:0; width: 120px; height: 230px; z-index:99999; margin-top:158px;}
        * html .couplet_ad
        /* IE6 底部固定*/{_position:absolute;
        _bottom:auto;
        _top:expression(eval(document.documentElement.scrollTop));}
        .couplet_ad a{ display:block; cursor:pointer;}
        #ad_left{ left: 0px;}
        #ad_right{ right: 0px;}
    </style>
{% block style %}{% endblock %}
<!--[if lt IE 9]>
<script src="/static/js/modernizr.js"></script>
<![endif]-->
<!-- 返回顶部调用 begin -->
<script type="text/javascript" src="/static/js/up/jquery.js"></script>
<script type="text/javascript" src="/static/js/up/js.js"></script>
<!-- 返回顶部调用 end-->
</head>
<body>
{% block guanggao %}{% endblock %}
<div class="couplet_ad" id="ad_left">
    <a target="_blank" href="#"><img style="width: 90px; height: 300px;" src="/static/images/advertising/1.jpg"></a>
    <a onClick="ad_left();">关闭</a>
    </div>
    <div class="couplet_ad" id="ad_right">
    <a target="_blank" href="#"><img style="width: 90px; height: 300px;" src="/static/images/advertising/1.jpg"></a>
    <a  onClick="ad_right();">关闭</a>
    </div>
<header>
  <!--<div class="logo f_l"> <a href="/"><img src="images/logo.png"></a> </div>-->
  <nav id="topnav" class="f_r">
    <ul>
      <a href="/index/">首页</a> <a href="/article/" >文章分享</a> <a href="p.html" >django学习</a> <a href="a.html" >最新发布</a> <a href="c.html" >相册</a> <!--<a href="/about/" >关于作者</a>-->
    </ul>
    <script src="/static/js/nav.js"></script>
  </nav>
</header>
<article>
    {% block bokezhengwen %}{% endblock %}
    {% block pinglun %}{% endblock %}
    {% block fenye %}{% endblock %}
</article>
<footer>
  <p class="ft-copyright">魏昊晅的个人博客 all rights reserved</p>
  <div id="tbox"><a id="gotop" class="" href="javascript:void(0)"></a> </div>
  <script>
	$(function(){
    $('#gotop').click(function(){
        $(window).scrollTop(0);
    })
});
$(window).scroll( function() {
    var height = $(window).scrollTop();
    if(height>0){
		$('#gotop').addClass('xianshi');
        
    }else{
        $('#gotop').removeClass('xianshi');
    }
});

  </script>
    {% block js %}{% endblock %}
</footer>
</body>
</html>
