<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <mate http-equiv="Content-Tpye" content="text/html; charset=utf-8" />
    <title>主页</title>
    <link rel="stylesheet" href="/static/css/common.css"/>
</head>
<body>
    <div class = "pg-header">
        <a href="/index/" class="digg-logo"></a>
        <div class="header-menu">
            <a href="/index/" class="tb acctive">全部</a>
            <a href="/index/" class="tb">52区</a>
            <a href="/index/" class="tb">屌丝</a>
        </div>
        <div class="header-search"></div>
    </div>
    <div class="pg-body">
        <div class="content-list">
            <div class="tiem"></div>
        </div>
    </div>
    <div class="pg-footer"></div>
</body>
</html>